---
import { getCollection, getEntry, render } from 'astro:content';

import BusinessCard from '@/components/BusinessCard.astro';
import Slide from '@/components/Slide.astro';
import Layout from '@/layouts/White.astro';
import Paper from '@/components/Paper.astro';

// Ottieni lo slug dalla route
const { slug } = Astro.params;


export async function getStaticPaths() {
  const pages = await getCollection('pages');
  return pages.map((p) => ({
    params: { slug: p.slug },
    props: { page: p },
  }));
}

const { page } = Astro.props;
const { Content } = await page.render();

---

<Layout>
  <Slide height={100}>
    <div class='container flex flex-col justify-around items-center gap-4 px-5 lg: py-10'>
      <h1 class='text-2xl mb-5 font-[EUR42] text-white'>{ page.data.title }</h1>
      <BusinessCard />
      
      <Paper><Content /></Paper>    
      
    </div>
    
  </Slide>
</Layout>
