---
import Layout from '@/layouts/White.astro';
import Slide from '@/components/Slide.astro';
import BusinessCard from '@/components/BusinessCard.astro';
import Hero from '@/components/Hero.astro';
import Event from '@/components/cards/Event.astro';
---

<Layout>
  <Slide height={100}>
    <div class='container flex flex-col justify-around items-center gap-4 px-5 lg: py-10'>
      <BusinessCard />
      <Hero />
      <Event isBooking={true} name='Fruit Attraction 2025' img='imgs/macfrut-2025.png' startdate='2025-09-30' enddate='2025-10-2' slug='reserve-a-meeting-fruit-attraction-2025' link='https://cal.com/alismardare/reserve-a-meeting-fruit-attraction-2025' cta='Reserve a Meeting' location='Madrid, Spain' />
    
    </div>
  </Slide>
</Layout>


