---
import Layout from '@/layouts/White.astro';
import Slide from '@/components/Slide.astro';
import BusinessCard from '@/components/BusinessCard.astro';
import Hero from '@/components/Hero.astro';
---

<Layout>
  <Slide color='bg-slate-300' height={100}>
    <div class='container flex flex-col justify-around items-center gap-4 px-5 lg: py-10'>
      <BusinessCard />
      <Hero />
    </div>
  </Slide>
</Layout>
