---
import White from '@/layouts/White.astro';
import Slide from '@/components/Slide.astro';

import BusinessCard from '@/components/BusinessCard.astro';
---

<White>
  <Slide color='bg-slate-300' height={100}> <BusinessCard /> </Slide>
  <Slide color='bg-gray-300' height={50}>
    <p class='font-[EUR42]'>ciao</p>
  </Slide>
</White>
