---
import Slide from "./Slide.astro"
---
<Slide color='bg-blue-800'>
    <span class='my-2 mx-10 text-white text-center '><a href='/cookie-policy'>Cookie Policy</a> | <a href='/privacy-terms'>Privacy Terms</a> | <a href='https://www.giorgiotedesco.it' target='_BLANK'>Made with ❤️ by <b>GiorgioTedesco.it</b></a></span>
</Slide>