---

interface Dat {
  title: string;
  url?: string;
}

interface Props {
  data?: string[] | Dat[]
}

const contents = Astro.props.data || [
    { title: '18+ Years of Expertise', url: '/blog/testurl' },
    { title: 'A Strong Network', url: '/blog/testurl' },
    { title: 'A New Venture, Rooted in Tradition', url: '/blog/testurl' },
];

/*const contents = [
    { title: '18+ Years of Expertise', url: '/blog/testurl' },
    { title: 'A Strong Network', url: '/blog/testurl' },
    { title: 'Egyptian Artichokes', url: '/product/lines' },
    { title: 'A New Venture, Rooted in Tradition', url: '/blog/testurl' },
]*/
---

<div class='w-full mt-15 mb-10'>
    <ul id="phrases" class="relative h-16 text-xl flex items-center justify-center">
        {contents.map((feature, i) => (
            <li class={`absolute transition-opacity duration-700 ease-in-out text-center ${
                i === 0 ? "opacity-100" : "opacity-0"
            }`}
              data-index={i}
            >
                <span class='font-passion text-5xl text-white'>{(typeof feature === 'object') ? feature.title : feature }</span>
            </li>
        ))}
    </ul>
</div>

<script>
  const items = document.querySelectorAll<HTMLLIElement>("#phrases li");
  let index = 0;

  function showNext() {
    // nascondi tutti
    items.forEach(el => el.classList.replace("opacity-100", "opacity-0"));

    // mostra quello giusto
    const item = items[index];
    item.classList.replace("opacity-0", "opacity-100");

    // aggiorna index
    index = (index + 1) % items.length;
  }

  // loop ogni 3 secondi
  setInterval(showNext, 3000);
</script>