---
interface Props {
  color: string;
  height?: number;
}

const color = Astro.props.color || 'bg-gray-900';
const height =
  Astro.props.height && Astro.props.height == 100
    ? 'h-full'
    : Astro.props.height || 'bg-gray-900';

const mainDiv = `w-full ${height} bg-amber-500 ${color} flex flex-col justify-center`;
---

<div class={mainDiv}>
  <div class='flex flex-row justify-center'>
    <slot />
  </div>
</div>
