---
import Layout from "@/layouts/CategoryListing.astro";
import { getCollection } from "astro:content";
const fairs = await getCollection("trade-fairs");
import Hero from "@/components/Hero.astro";

const heroDat = [
    'Turning fair meetings into real business.',
    'From first contact to lasting collaboration.',
    'Your bridge to the Market.'
]

---

<Layout title='Trade Fairs'>
    <Hero data={heroDat} />
    <ul class='flex flex-row max-w-150'>
        {fairs.map((fair) => (
            <li>
                <a href={`/trade-fairs/${fair.slug}`}>{fair.data.title}</a>
            </li>
        ))}
    </ul>
</Layout>
