---
import '@/styles/global.css';
import 'animate.css';
import { site } from '@/config';
import Slide from '@/components/Slide.astro';
import CookieConsent from '@/components/CookieConsent.astro';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{site.fullname} | {site.payoff}</title>
    <meta name='author' content={site.fullname} />
    <meta name='generator' content='Made with ❤️ by Giorgio Tedesco' />
    <!-- Developed by Giorgio Tedesco | giorgiotedesco.it -->
     <script defer src="https://get.giorgiotedesco.it/script.js" data-website-id="04e978e4-8231-4926-8b38-22c2a45666f3"></script>
  </head>
  <body>
    <slot />
    
    <Slide color='bg-blue-800'>
      <span class='my-2 mx-10 text-white text-center '><a href='/cookie-policy'>Cookie Policy</a> | <a href='https://www.giorgiotedesco.it' target='_BLANK'>Made with ❤️ by <b>GiorgioTedesco.it</b></a></span>
    </Slide>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
